.home__container {
  row-gap: 3rem;
}

.home__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
}

.home__button {
  display: inline-block;
  background-color: var(--first-color-dark);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  transition: 0.3s;
}

.home__button:hover {
  background-color: var(--first-color-darkest);
}

.home__img {
  width: 540px;
}

.svg__img {
  width: 300px;
  justify-self: center;
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__img {
    order: 1;
    width: 540px;
  }
  .home__description {
    padding-right: 5rem;
  }
}
