.navbar__main {
  background-color: var(--first-color-lighter);
  padding: 0.5rem 1rem;
  /* border-radius: 1.5em; */
}

.navbar__container {
  background-color: var(--first-color-lighter);
}

.navbar__brand {
  font-size: var(--medium-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--letter-spacing-medium);
}

.navbar__offcanvas__body {
  background-color: var(--first-color-lighter);
}
