.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  /* border-radius: 1.25rem 1.25rem 0 0; */
  transition: 0.4s;
  margin-bottom: 0.7rem;
  background-color: var(--first-color);
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--first-color-darker);
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
}

.nav__item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.active {
  color: var(--first-color-darker);
  outline: none;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.tab__container {
  height: calc(100vh - 4rem - 0.7rem);
  overflow: scroll;
}
