.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.login__content {
  display: flex;
  flex-direction: column;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color-lighter);
  border-radius: 10px;
  padding: 20px;
}

.input__field {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
}

.login__input {
  padding: 10px 20px;
  width: 10rem;
}

.login__signup {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--first-color-darkest);
  text-decoration: none;
  transition: 0.3s ease;
  margin-top: 1rem;
}

.login__forgot {
  text-align: right;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--first-color-darkest);
  text-decoration: none;
  margin-bottom: 0.5rem;
  padding-right: 22px;
}

.login__button {
  padding: 10px 20px;
  margin: 10px 0;
}

.login__loading {
  margin: 0;
  font-size: var(--small-font-size);
  color: red;
}
