/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #dbc7e6;
  --first-color-dark: #bfa4d1;
  --first-color-darker: #a78dbd;
  --first-color-darkest: #8f6ea1;
  --first-color-light: #e6d9f0;
  --first-color-lighter: #f0eaf6;
  --first-color-lighten: #f6f0f9;

  /*=== Font and typography ===*/
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --big-font-size: 2rem;
}

body {
  font-family: var(--body-font);
  background-color: var(--first-color);
  /* margin: 0;
  padding: 0; */
}

h1 {
  padding: 0;
  margin: 1rem 0 0.5rem 0;
}

input {
  border: none;
  border-radius: 30px;
  background-color: white;
  outline: none;
}

button {
  border: none;
  border-radius: 30px;

  outline: none;
  color: white;
  background-color: var(--first-color-dark);
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--first-color-darker);
}

button:active {
  background-color: var(--first-color-darkest);
}
